.jobs-container {
 
    padding: 40px 20px;
    background-color: #fbfbfb;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.jobs-container h1 {
    font-size: 2rem; /* Adjust font size */
    color: #00e5ff; /* Change font color */
    text-decoration: underline; /* Underline the text */
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

.jobs-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.job-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.job-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.job-image-container {
    height: 130px; /* Reduced height */
    overflow: hidden;
}

.job-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the entire image fits within the container */
    transition: transform 0.3s ease;
}

.job-item:hover .job-image-container img {
    transform: scale(1.05); /* Slight zoom on hover */
}

.job-info {
    padding: 20px;
    text-align: left;
}

.job-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.job-info p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.job-info button {
    padding: 10px 20px;
    background-color: #218fef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.job-info button:hover {
    background-color: #fb46d1;
}
