.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  padding: 1rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.email-link, .social-link {
  color: black;
  font-style:bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.icon {
  margin-right: 0.5rem;
}

.form-container {
  background-color: #112240;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 28rem;
  width: 100%;
}

.form-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input, .textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #0A192F;
  color: white;
  border: none;
  outline: none;
  transition: box-shadow 0.3s;
}

.input:focus, .textarea:focus {
  box-shadow: 0 0 0 0.2rem #64ffda;
}

.submit-button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #f57c00;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ff8c00;
}
