

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.right-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-signup {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.signup-box {
    width: 100%;
}

h2 {
    margin-bottom: 16px;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
    text-decoration: none;
}

.input-group {
    margin-bottom: 12px;
    text-align: left;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f35ea1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #fb46d1;
}

.already-account {
    margin-top: 20px;
    text-align: center;
}

.already-account p {
    margin: 0;
    font-weight: bold;
    color: #090202de;
}

.already-account a {
    color: #dd249f;
    text-decoration: none;
}

.already-account a:hover {
    text-decoration: underline;
}
